In [1]:
l1 = [1, "apple", "banana", "apple", "apple", "hmm", 3.4, "123"]
l2 = [2, 4, 5, "ball", "345", "bat", 2]

In [18]:
l1 + l2
l1

[1,
 'apple',
 'banana',
 'apple',
 'apple',
 'hmm',
 3.4,
 '123',
 2,
 4,
 5,
 'ball',
 '345',
 'bat',
 2,
 2,
 4,
 5,
 'ball',
 '345',
 'bat',
 2,
 2,
 4,
 5,
 'ball',
 '345',
 'bat',
 2]

In [7]:
l1.extend(l2)

In [8]:
print(l1)

[1, 'apple', 'banana', 'apple', 'apple', 'hmm', 3.4, '123', 2, 4, 5, 'ball', '345', 'bat', 2, 2, 4, 5, 'ball', '345', 'bat', 2, 2, 4, 5, 'ball', '345', 'bat', 2]

In [9]:
l3 = l1
print(l3)

[1, 'apple', 'banana', 'apple', 'apple', 'hmm', 3.4, '123', 2, 4, 5, 'ball', '345', 'bat', 2, 2, 4, 5, 'ball', '345', 'bat', 2, 2, 4, 5, 'ball', '345', 'bat', 2]

In [10]:
for l in l3:
    print(l)

1
apple
banana
apple
apple
hmm
3.4
123
2
4
5
ball
345
bat
2
2
4
5
ball
345
bat
2
2
4
5
ball
345
bat
2

In [11]:
for l in l3:
    if l =="apple":
        print(l)

apple
apple
apple

In [12]:
l3.count("apple")

3

In [13]:
l3.reverse()

In [14]:
l3

[2,
 'bat',
 '345',
 'ball',
 5,
 4,
 2,
 2,
 'bat',
 '345',
 'ball',
 5,
 4,
 2,
 2,
 'bat',
 '345',
 'ball',
 5,
 4,
 2,
 '123',
 3.4,
 'hmm',
 'apple',
 'apple',
 'banana',
 'apple',
 1]

In [15]:
l3.reverse()

In [16]:
l3

[1,
 'apple',
 'banana',
 'apple',
 'apple',
 'hmm',
 3.4,
 '123',
 2,
 4,
 5,
 'ball',
 '345',
 'bat',
 2,
 2,
 4,
 5,
 'ball',
 '345',
 'bat',
 2,
 2,
 4,
 5,
 'ball',
 '345',
 'bat',
 2]

In [17]:
len(l3)

29

In [19]:
del l3[6:20]

In [20]:
l3

[1,
 'apple',
 'banana',
 'apple',
 'apple',
 'hmm',
 'bat',
 2,
 2,
 4,
 5,
 'ball',
 '345',
 'bat',
 2]

In [21]:
l3.remove("apple")

In [22]:
l3

[1,
 'banana',
 'apple',
 'apple',
 'hmm',
 'bat',
 2,
 2,
 4,
 5,
 'ball',
 '345',
 'bat',
 2]

In [23]:
l4 = "apple" in l3
l4

True

In [24]:
l5 = [x*x for x in range(1,5)]
l5

[1, 4, 9, 16]

In [28]:
# take second element for sort
def takeSecond(elem):
    return elem[1]

# random list
random = [ (3, 2),(5, 2),(2, 1), (1, 3)]

# sort list with key
random.sort(key = takeSecond)

# print list
print('Sorted list:', random)

Sorted list: [(2, 1), (3, 2), (5, 2), (1, 3)]

In [31]:
# sorting using custom key
employees = [
    {'Name': 'Alan Turing', 'age': 25, 'salary': 10000},
    {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000},
    {'Name': 'John Hopkins', 'age': 18, 'salary': 1000},
    {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000},
]

emp = sorted(employees)
emp

TypeError: '<' not supported between instances of 'dict' and 'dict'